body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 10ch;
    background-color: Canvas;
    color: CanvasText
  }
:root{
    --color-accent: oklch(65% 50% 0);
    color-scheme: light dark; 
  }
html {
    accent-color: var(--color-accent);
  }
nav {
    display: flex;
    margin-bottom: 1em;
    --border-color: oklch(50% 10% 200 / 40%);
    border-bottom: 1px solid var(--border-color);
  }
nav > ul > li {
    display: contents; 
  }
nav a {
    flex: 1;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    color: inherit;
  }

nav a.current{
    border-bottom: 0.4em solid var(--border-color);
    padding-bottom: 0.1em;
  }
nav a:hover{
    border-bottom: 0.4em solid var(--border-color);
    padding-bottom: 0.1em;
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  }
.contact-form {
    display: grid;
    grid-template-columns: subgrid;
    gap: 1em;
  }
.contact-form label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }  
.contact-form button[type="submit"] {
    grid-column: 1 / -1;
    font: inherit;
  }
.contact-form input,
.contact-form textarea {
    font: inherit;
  }
.projects {
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(15em,1fr));
  }
.projects article{
    grid-template-rows: subgrid;
    grid-row: 3;
  }
.projects h2{
    margin: 0;
  }
h1{
    font-size: 400%;
  }
h1,h2,h3,h4,h5,h6{
    line-height: 1.1;
    text-wrap: balance;
  }

.resume {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
}
.resume section {
    display: grid;
    gap: 0.5em;
  }
.grid-container {
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(15em,1fr));
    gap: 0.5em;
  }
.grid-item{
    display: grid;
    gap: 0.5em;
    grid-row-start: 1;
}

.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 80%;
}

.color-scheme select,
  input,
  textarea,
  button {
    font: inherit;
  }